.panel {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .panel-header {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        color: $blue-primary;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        span {
            display: flex;
        }

        .back-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 10px;

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
                color: $blue-primary;
            }
        }

        .panel-actions {
            .button {
                margin-left: 10px;
            }
        }
    }

    .panel-content {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        max-height: 100%;
    }
}