.button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;

    &:hover {
        opacity: 0.9;
    }

    &.primary {
        color: white;
        background-color: $blue-primary;
    }

    &.error {
        color: white;
        background-color: rgb(216, 68, 68);
    }
}